    <!-- Navegación -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Resumen</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
         
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Resumen</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" (click)="this.ui.pantallaDeben()">Me deben</a>
          <a class="mdl-navigation__link" (click)="this.ui.pantallaDebo()">Mis deudas</a>
          <a class="mdl-navigation__link" (click)="this.ui.pantallaHistorial()">Historial</a>
          <a class="mdl-navigation__link" (click)="this.ui.pantallaAmigos()">Amigos</a>
          <a class="mdl-navigation__link" (click)="this.ui.pantallaPerfil()">Perfil</a>
          <a class="mdl-navigation__link" (click)="this.ui.cerrarSesion()">Cerrar sesión</a>          
        </nav>
      </div>
      
      <!-- Contenido-->
      <main class="mdl-layout__content">
        <div class="page-content mdl-grid">
        
            <!-- Tarjeta 1 -->
           <div class="mdl-cell mdl-cell--12-col">
            <div class="demo-card-wide mdl-card mdl-shadow--2dp">
              <div class="mdl-card__supporting-text">
                 <div class="mdl-grid">
                  <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-button--accent">Deudas totales</div>
                    <div>{{resumen.total}}€</div>
                  </div> 
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
                    <div class="mdl-button--accent">Debo</div>
                    <div>{{resumen.todalDebo}}€</div>
                  </div> 
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
                    <div class="mdl-button--accent">Me deben</div>
                    <div>{{resumen.totalMeDeben}}€</div>
                  </div>   
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
                    <div class="mdl-button--accent">Deudas que debo</div>
                    <div>{{resumen.numDeudasDebo}}</div>
                  </div>
                  <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
                    <div class="mdl-button--accent">Deudas que deben</div>
                    <div>{{resumen.numDeudasMeDeben}}</div>
                  </div>                                                                                                                                                                         
                </div>    
              </div>
  
            </div> 
          </div>
       </div>
                                                           
      </main>
    </div>