    <div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--grey-100">
      <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Login</span>
          <div class="mdl-layout-spacer"></div>
        </div>
      </header>
      <div class="demo-ribbon"></div>
      <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
          <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">

            <!-- Formulario login -->
            <form>
             <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="campo_email" [(ngModel)]="model.email" name="email" #email="ngModel">
                <label class="mdl-textfield__label" for="campo_email">Correo electrónico</label> 
              </div>
              <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="campo_password" [(ngModel)]="model.password" name="password" #password="ngModel">
                <label class="mdl-textfield__label" for="campo_password">Contraseña</label>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <button class="mdl-button mdl-js-button mdl-button--accent" (click)="procederLogin()">Acceder</button>
              </div>
              <div class="mdl-cell mdl-cell--6-col">
                <button class="mdl-button mdl-js-button mdl-button--accent" (click)="registro()">Registrarse</button>
              </div>
              <div class="mdl-cell mdl-cell--12-col">
                <p>He olvidado mi contraseña</p>
              </div>                           
            </div>    
            </form>                

          </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
          <div class="mdl-mini-footer--left-section">
            <ul class="mdl-mini-footer--link-list">
              <li><a href="#">Help</a></li>
              <li><a href="#">Privacy and Terms</a></li>
              <li><a href="#">User Agreement</a></li>
            </ul>
          </div>
        </footer>
      </main>
    </div>
  
